
body{
  
  background-color :yellow ;
  
    
  position: justyfy ;
  
  display: flex;
  
  
  background: -webkit-linear-gradient(136deg, rgb(224,195,252) 50%, rgb(142,197,252) 100%);
}
#play-button {
  background-color :lightgreen;
  
  
}

#stop-button {
  
  background-color:red ;
  
}


h1{
  position :fixed;
  font-weight: normal;
  font-size: 90px;
  margin: 0;
  padding: 0;
  color :yellow;
  background-color :;
}
.button{ font-size:40 ;
  height :90px;
  width:90px;
  background-color:transparent ;
  color: yellow;
  
} 

  
  
  
  
  
  
  



