
bod{
  
  background-color :yellow ;
  
    
  position: justyfy ;
  
  display: flex;
  align-items: center;
  justify-content: center;
  background: -webkit-linear-gradient(136deg, rgb(224,195,252) 50%, rgb(142,197,252) 100%);
}
#play-button {
  background-color :lightgreen;
  
  
}

#stop-button {
  
  background-color:red ;
  
}
button{position :fixed ;
  
  
  
  
  
  
  

}

